<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <form class="col-xs-12 col-md-8">

        <div class="form-group">
            <label for="nameRegion">Название области</label>
            <input type="text" ng-model="region.name" class="form-control" id="nameRegion"
                   placeholder="Название области">
        </div>

        <div class="form-group">
            <label for="info">Описание</label>
            <textarea class="form-control" rows="3" id="info" ng-model="region.info"></textarea>
        </div>
        <input type="button" class="btn btn-success" value="Сохранить" ng-click="saveForm(region)">
    </form>

</div>