<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <!--<a class="btn btn-success" ui-sref="newCompany({districtID: district})">+ New</a>-->
    <form class="col-xs-12 col-md-8">

        <div class="form-group">
            <label for="exampleInputEmail1">Название</label>
            <input type="text" ng-model="company.name" class="form-control" id="exampleInputEmail1"
                   placeholder="Название">
        </div>

        <div class="form-group">
            <label for="color">Цвет</label>
            <table class="table">
                <tbody>
                <tr class="">
                    <td>
                        <input type="radio" value="0" name="color" id="color" ng-model="company.color"></td>
                </tr>
                <tr class="info">
                    <td>
                        <input type="radio" value="1" name="color" ng-model="company.color"></td>
                </tr>
                <tr class="success">
                    <td>
                        <input type="radio" value="2" name="color" ng-model="company.color"></td>
                </tr>
                <tr class="warning">
                    <td>
                        <input type="radio" value="3" name="color" ng-model="company.color"></td>
                </tr>
                <tr class="danger">
                    <td>
                        <input type="radio" value="4" name="color" ng-model="company.color"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <label for="address">Адрес</label>
            <textarea class="form-control" rows="3" id="address" ng-model="company.address"></textarea>
        </div>

        <div class="form-group">
            <label for="info">Описание</label>
            <textarea class="form-control" rows="3" id="info" ng-model="company.info"></textarea>
        </div>
        <input type="button" class="btn btn-success" value="Save" ng-click="saveForm(company)">
    </form>

</div>